6.X Part 15 Revision/Part15.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema targetNamespace="http://www.iho.int/s100/se/5.0" elementFormDefault="qualified"
  xmlns="http://www.iho.int/s100/se/5.0"
  xmlns:gco="http://standards.iso.org/iso/19115/-3/gco/1.0"
  xmlns:xs="http://www.w3.org/2001/XMLSchema"
  version="5.0.0-20211216">

  <xs:import namespace="http://standards.iso.org/iso/19115/-3/gco/1.0" schemaLocation="../../../../standards.iso.org/19115/-3/gco/1.0/gco.xsd"/>
  
  <xs:complexType name="PermitType">
    <xs:annotation><xs:documentation>TBD</xs:documentation></xs:annotation>
    <xs:sequence>
      <xs:element name="header" type="PermitHeaderType"><xs:annotation><xs:documentation>TBD</xs:documentation></xs:annotation></xs:element>
      <xs:element name="products" type="ProductsPermitType"><xs:annotation><xs:documentation>TBD</xs:documentation></xs:annotation></xs:element>
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="PermitHeaderType">
    <xs:annotation><xs:documentation>TBD</xs:documentation></xs:annotation>
    <xs:sequence>
      <xs:element name="issueDate" type="xs:date"><xs:annotation><xs:documentation>TBD</xs:documentation></xs:annotation></xs:element>
      <xs:element name="dataServerName" type="xs:string"><xs:annotation><xs:documentation>TBD</xs:documentation></xs:annotation></xs:element>
      <xs:element name="dataServerIdentifier" type="xs:string"><xs:annotation><xs:documentation>TBD</xs:documentation></xs:annotation></xs:element>
      <xs:element name="version" type="xs:string"><xs:annotation><xs:documentation>TBD</xs:documentation></xs:annotation></xs:element>
      <xs:element name="userpermit" type="xs:string"><xs:annotation><xs:documentation>TBD</xs:documentation></xs:annotation></xs:element>
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="DatasetPermitType">
    <xs:annotation><xs:documentation>TBD</xs:documentation></xs:annotation>
    <xs:sequence>
      <xs:element name="filename" type="xs:string"><xs:annotation><xs:documentation>TBD</xs:documentation></xs:annotation></xs:element>
      <xs:element name="editionNumber" type="xs:integer" minOccurs="0">
        <xs:annotation>
          <xs:documentation>Definition? Remark: One of either editionNumber or issueDate must be defined in the permit.</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element minOccurs="0" name="issueDate" type="xs:date"><xs:annotation><xs:documentation>TBD</xs:documentation></xs:annotation></xs:element>
      <xs:element name="expiry" type="xs:date" minOccurs="0"><xs:annotation><xs:documentation>TBD</xs:documentation></xs:annotation></xs:element>
      <xs:element name="encryptedKey" type="xs:string"><xs:annotation><xs:documentation>TBD</xs:documentation></xs:annotation></xs:element>
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="ProductsPermitType">
    <xs:annotation><xs:documentation>TBD</xs:documentation></xs:annotation>
    <xs:sequence>
      <xs:element maxOccurs="unbounded" name="product">
        <xs:annotation><xs:documentation>TBD</xs:documentation></xs:annotation>
        <xs:complexType>
          <xs:sequence>
            <xs:element maxOccurs="unbounded" name="datasetPermit" type="DatasetPermitType"><xs:annotation><xs:documentation>TBD</xs:documentation></xs:annotation></xs:element>
          </xs:sequence>
          <xs:attribute name="id"><xs:annotation><xs:documentation>TBD</xs:documentation></xs:annotation></xs:attribute>
        </xs:complexType>
      </xs:element>
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="S100_SE_DigitalSignatureReference_PropertyType">
    <xs:annotation>
      <xs:documentation>Property type for S100_SE_DigitalSignatureReference</xs:documentation>
    </xs:annotation>
    <xs:simpleContent>
      <xs:extension base="S100_SE_DigitalSignatureReference">
        <xs:attribute ref="gco:nilReason"/>
      </xs:extension>
    </xs:simpleContent>
  </xs:complexType>

  <xs:element name="Permit" type="PermitType">
    <xs:annotation>
      <xs:documentation>The root element of the permit file.</xs:documentation>
    </xs:annotation>
  </xs:element>


  <!-- CERTIFICATE TYPES -->
  <!-- A SINGLE CERTIFICATE -->
  <xs:complexType name="S100_SE_CertificateType">
    <xs:annotation>
      <xs:documentation>for embedding in files that contains signatures e.g exchange set catalogues or standalone signature file.</xs:documentation>
    </xs:annotation>
    <xs:simpleContent>
      <xs:extension base="xs:base64Binary">
        <xs:attribute name="id" type="xs:string" use="required"><xs:annotation><xs:documentation>TBD</xs:documentation></xs:annotation></xs:attribute>
        <xs:attribute name="issuer" type="xs:string" use="required"><xs:annotation><xs:documentation>TBD</xs:documentation></xs:annotation></xs:attribute>
      </xs:extension>
    </xs:simpleContent>
  </xs:complexType>

  <!-- A CONTAINER FOR CERTIFICATES -->
  <xs:complexType name="S100_SE_CertificateContainerType">
    <xs:annotation><xs:documentation>TBD</xs:documentation></xs:annotation>
    <xs:sequence>
      <xs:element name="schemeAdministrator">
        <xs:complexType>
          <xs:attribute name="id" type="xs:string" use="required">
            <xs:annotation>
              <xs:documentation>Defintion? Remark: If this id is used as a reference it refers to the scheme administrator certificate which is not included here</xs:documentation>
            </xs:annotation>
          </xs:attribute>
        </xs:complexType>
      </xs:element>
      <xs:element name="certificate" type="S100_SE_CertificateType" maxOccurs="unbounded"><xs:annotation><xs:documentation>TBD</xs:documentation></xs:annotation></xs:element>
    </xs:sequence>
  </xs:complexType>

  <!-- SIGNATURE TYPES -->
  <!-- TYPE FOR A SINGLE SIGNATURE -->
  <xs:complexType name="S100_SE_DigitalSignature">
    <xs:annotation>
      <xs:documentation>
        Type contains the signature value, an identifier and a reference to the certificate that contains the public key.
        The value is an base64 encoded ASN.1
        Dss-Sig-Value  ::=  SEQUENCE  {
        r       INTEGER,
        s       INTEGER  }
      </xs:documentation>
    </xs:annotation>
    <xs:simpleContent>
      <xs:extension base="xs:base64Binary">
        <xs:attribute name="id" type="xs:string" use="required"><xs:annotation><xs:documentation>TBD</xs:documentation></xs:annotation></xs:attribute>
        <xs:attribute name="certificateRef" type="xs:string" use="required"><xs:annotation><xs:documentation>TBD</xs:documentation></xs:annotation></xs:attribute>
      </xs:extension>
    </xs:simpleContent>
  </xs:complexType>

  <xs:complexType name="StandaloneDigitalSignature">
    <xs:annotation>
      <xs:documentation>A type that contains the signature plus certificates for a single file.</xs:documentation>
    </xs:annotation>
    <xs:sequence>
      <xs:element name="filename" type="xs:string"><xs:annotation><xs:documentation>TBD</xs:documentation></xs:annotation></xs:element>
      <xs:element name="certificates" type="S100_SE_CertificateContainerType"><xs:annotation><xs:documentation>TBD</xs:documentation></xs:annotation></xs:element>
      <xs:element name="digitalSignature" type="S100_SE_DigitalSignature"><xs:annotation><xs:documentation>TBD</xs:documentation></xs:annotation></xs:element>
    </xs:sequence>
  </xs:complexType>

  <xs:element name="StandaloneDigitalSignature" type="StandaloneDigitalSignature">
    <xs:annotation>
      <xs:documentation>The root elements for CATALOG.SIGN or PERMIT.SIGN</xs:documentation>
    </xs:annotation>
    <xs:key name="CertificateKey" xmlns:se="http://www.iho.int/s100/se/5.0">
      <xs:selector xpath="se:certificates/se:certificate | se:certificates/se:schemeAdministrator"/>
      <xs:field xpath="@id"/>
    </xs:key>
    <xs:keyref name="CertificateKeyref" refer="CertificateKey" xmlns:se="http://www.iho.int/s100/se/5.0">
      <xs:selector xpath="se:certificates/se:certificate"/>
      <xs:field xpath="@issuer"/>
    </xs:keyref>
    <xs:keyref name="SignatureKeyref" refer="CertificateKey" xmlns:se="http://www.iho.int/s100/se/5.0">
      <xs:selector xpath="se:digitalSignature"/>
      <xs:field xpath="@certificateRef"/>
    </xs:keyref>
  </xs:element>

  <!-- EXTENSION FOR SIGNATURES ON SIGNATURES -->
  <xs:complexType name="S100_SE_SignatureOnSignature">
    <xs:annotation><xs:documentation>TBD</xs:documentation></xs:annotation>
    <xs:complexContent>
      <xs:extension base="S100_SE_DigitalSignature">
        <xs:attribute name="signatureRef" type="xs:string"><xs:annotation><xs:documentation>TBD</xs:documentation></xs:annotation></xs:attribute>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>

  <xs:simpleType name="DataStatus">
    <xs:annotation><xs:documentation>TBD</xs:documentation></xs:annotation>
    <xs:restriction base="xs:string">
      <xs:enumeration value="unencrypted"><xs:annotation><xs:documentation>TBD</xs:documentation></xs:annotation></xs:enumeration>
      <xs:enumeration value="compressed"><xs:annotation><xs:documentation>TBD</xs:documentation></xs:annotation></xs:enumeration>
      <xs:enumeration value="encrypted"><xs:annotation><xs:documentation>TBD</xs:documentation></xs:annotation></xs:enumeration>
    </xs:restriction>
  </xs:simpleType>

  <xs:simpleType name="S100_SE_DigitalSignatureReference">
    <xs:annotation>
      <xs:documentation>Algorithm used to compute the digital signature</xs:documentation>
    </xs:annotation>
    <xs:restriction base="xs:string">
      <xs:enumeration value="dsa">
        <xs:annotation>
          <xs:documentation>Digital Signature Algorithm</xs:documentation>
        </xs:annotation>
      </xs:enumeration>
    </xs:restriction>
  </xs:simpleType>

  <!-- EXTENSION FOR SIGNATURES ON OTHER FORMS OF THE FILE (USUALLY UNENCRYPTED VERSION) -->
  <xs:complexType name="S100_SE_SignatureOnData">
    <xs:annotation><xs:documentation>TBD</xs:documentation></xs:annotation>
    <xs:complexContent>
      <xs:extension base="S100_SE_DigitalSignature">
        <xs:attribute name="dataStatus" type="DataStatus"><xs:annotation><xs:documentation>TBD</xs:documentation></xs:annotation></xs:attribute>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>

  <!-- TYPE FOR ADDITIONAL SIGNATURES -->
  <xs:complexType name="S100_SE_AdditionalSignature">
    <xs:annotation>
      <xs:documentation>Elements of this type can be used within the dataset discovery metadata elements of an exchanges set catalogue.</xs:documentation>
    </xs:annotation>
    <xs:choice>
      <xs:element name="signatureOnSignature" type="S100_SE_SignatureOnSignature"><xs:annotation><xs:documentation>TBD</xs:documentation></xs:annotation></xs:element>
      <xs:element name="signatureOnData" type="S100_SE_SignatureOnData"><xs:annotation><xs:documentation>TBD</xs:documentation></xs:annotation></xs:element>
    </xs:choice>
  </xs:complexType>

</xs:schema>
